.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 25px;
  }
  .form-label {
    font-weight: bold;
  }
  .table td, .table th {
    vertical-align: middle;
  }
  
  .tabela-zebrada tr:nth-child(odd) td,
  .tabela-zebrada tr:nth-child(odd) th {
    background-color: #f8f9fa !important;
  }
  
  .tabela-zebrada tr:nth-child(even) td,
  .tabela-zebrada tr:nth-child(even) th {
    background-color: #dee2e6 !important;
  }
  
  
  h5 {
    text-align: center;
  }
  .vp {
    background-color: #dedede
  }

  .vo {
    background-color: #e6e7f8;
  }

  .clientInfo {
    background-color: #7fb1a2;
    border: solid 1px;
  }