body{
    width: 100%;
    padding: 0;
    margin: 0;
}
.main{
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: blue;
}
.navbarDiv{
    margin: 0;
    padding: 0;
}
.top-nav-menu{
    background-color: black;
    height: 100px;
}
.top-nav-logo{
    background-color: black;
    height: 100px;
}
  
.nav-item .nav-link{
    color: white;
    /* font-size: 20px; */
    text-decoration: none;
}
.nav-item .nav-link:hover{
    font-weight: bold;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

/* Content ........................................ */

.content{
    background-color: yellow;
    overflow: hidden;
    margin: 0;
}

.myWorks{
    background-color: red;
    overflow: hidden;
    margin: 0;
}
.aboutMe{
    background-color: green;
}
.introText{
    width: 100%;
}
img{
    padding: 0;
    margin: 0 0 20px 0;
}

.social-icons-style{
    font-size: 30px;
    color: white;
}

.social-icons-list{
    /* margin: 0 auto; */
}