/* General styles */
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #ffffff;
    text-align: center;
    background-image: url('../images/bgtest4.jpg');
    background-repeat: repeat-y;
    background-size: 105vw 100vh;

  }
  h1, h2, h3, h5 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
  }
  p, ul {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    color: #ffffff;
  }

/* MAIN BUTTON ------------ */

@keyframes pulse-btn {
    0% {
      transform: scale(1.00);
    }

    70% {
      transform: scale(1.03);
    }

    100% {
      transform: scale(1.00);
    }
}
@keyframes pulse-btn-hover {
    0% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
    }

    30% {
      box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.9);
    }

    100% {
      box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.0);
    }
}

.btn {
    display: inline-block;
    font-size: 1.6rem;
    padding: 15px 15px;
    background-color: #00FF7F;
    color: #000000;
    text-decoration: none;
    font-weight: bold;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
    transition: background-color 0.3s ease, transform 0.3s ease;
    animation: pulse-btn 5s infinite;
}
  
.btn:hover {
    background-color: #00cc6e;
    color: #000000;
    animation: pulse-btn-hover 1s infinite;
    transform: scale(1.07);
}

.btn-container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0;
}


/* Copy section ------------------------------------------  */
.copy-section h1, .copy-section h2 {
    color: #1DB954;
    margin: 10px 0;
}
.copy-section ul {
    margin: 25px 0;
}
.texto_copy{
    font-size: 1.4rem;
}

 .lista_copy{
    text-align: left;
    font-size: 1.4rem;
 }

 /* Navbar --------------------------------------------------- */
.navbar {
    background-color: #00FF7F;
}
.foot_nav{
    background-color: #000000;
}
.navbar-brand {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.navbar-brand:hover {
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px rgba(0, 0, 0, 0.9);
}
.navbar-nav{
    min-width: 100%;;
    width: 100%;
}
.nav-item{  
    margin: 0;
    padding: 0;
}
.nav-item:hover{  
        background-color: #000;
}
.nav-link{
    padding: 10px 0;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: block;
}
.navbar-toggler {
    border-color: rgb(0, 0, 0);
}
.navbar-toggler-icon {
    color: rgb(0, 0, 0);
}
.menu-button{  /* small screens menu button color */
    /* animation: pulse-btn 2s infinite; */
    color: rgb(0, 0, 0);
    font-size: 2rem;
}
  /* FOOTER NAVBAR ------------------ */
.foot_item .nav-link{
    color: #ffffff;
    width: 100%;
}
.foot_item:hover .nav-link{
    color:#00FF7F;
}

/* BANNER SECTION ----------------------------------- */

.bg-image {
    background-image: url('https://images.pexels.com/photos/1640777/pexels-photo-1640777.jpeg');
    background-size: cover;
    background-position: center;
    height: auto;
  }
  
.highlight {
    color: #FFD700;
    font-weight: bold;
}

.text-overlay { /* Div transparente para destacar o texto */
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
    padding: 40px 15px;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.main-title {
    font-size: 3rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
}

.subtitle {
    font-size: 1.6rem;
    color: #ffeb3b;
    margin-top: 20px;
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.7);
}

/* Avaliação de estrelas */
.stars {
    margin-top: 15px;
    font-size: 1.4rem;
}

.stars .text-warning {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Timer */
.timer {
    font-size: 1.3rem;
    font-weight: bold;
    margin-top: 20px;
    background-color: #ff4500;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(255, 69, 0, 0.5);
    color: white;
}

/* Responsividade MAIN BANNER*/
@media only screen and (min-width: 768px) {
    .image-shadow{
        bottom: -20px;
    }
}
@media only screen and (max-width: 768px) {
    .main-title {
        font-size: 2.5rem;
    }
    .subtitle {
        font-size: 1.2rem;
    }
    .timer {
        font-size: 1.1rem;
    }
    .btn {
        font-size: 1.2rem;
    }
}
  /* Responsividade < 576px MAIN BANNER */

 @media only screen and (max-width: 576px) {
    .main-title {
        font-size: 2.6rem;
    }

    .subtitle {
        font-size: 1.1rem;
    }

    .timer {
        font-size: 1.1rem;
    }

    .btn {
        font-size: 1.2rem;
    }
}

/* DESCRIPTION SECTION -------------------------- */

.description-section {
    background-color: #0f0f0f;
    padding: 50px 15px;
    border-radius: 10px;
    margin-top: 30px;
}
.about-text{
    font-size: 20px;
    text-align: justify;
}
.main-text{
    text-align: justify;
    font-size: 17px;
}
.textdep{
    font-weight: bold;
}
.video-bg{
    background-color: rgba(0, 0, 0, 0.3);
}

 /* COPY SECTION ----------------------  */

.copy-section {
    /* max-width: 800px; */
    /* margin: 0 auto; */
    padding: 20px;
    background-color: #0f0f0f;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

/* TESTIMONIALS SECTION -----------------------------  */

/* Background color of the testimonial section */
.section-colored {
    background-color: #0F0F0F; /* Dark background */
    padding: 50px;
    margin-top: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Ensures responsive behavior */
}

/* General style for the testimonial boxes */
.testimonial-box {
    display: flex;
    align-items: center;
    background-color: #ffffff; /* White background for the comment */
    padding: 20px;
    border-radius: 15px;
    color: #000000;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.testimonial-box-sm {
    display: none;
    align-items: center;
    background-color: #ffffff; /* White background for the comment */
    padding: 20px;
    border-radius: 15px;
    color: #000000;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    position: relative;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

/* Testimonials expand effect */
.testimonial-box:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.testimonial-box-sm:hover {
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

/* Quadrada com sombra externa para as imagens */
.testimonial-image img {
    width: 100px;
    height: 100px;
    border-radius: 10px; /* Imagem quadrada com cantos levemente arredondados */
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra saindo da imagem */
    position: absolute;
    right: -20px; /* Leve sobreposição para fora da caixa */
}
/* testimonial image scale  */
.testimonials .testimonial-box:hover img {
    transform: scale(1.2);
  }
  /* small screens image resize */
  .testimonials .testimonial-box-sm img {
    width: 150px;
    height: 150px;
  }

/* Text inside testimonials */
.testimonial-content {
    flex: 1;
    margin-right: 70px; /* Ajustado para a imagem fora da div */
    color: #000000;
}
.testimonial-content p{
    color: #000;
    font-weight: bold;
}

/* Adjusting the title style */

.testimonial-heading{
    align-content: center;
}

.testimonial-heading h2 {
    color: #1DB954;
    font-size: 2.3rem;
    font-weight: bold;
}

/* Highlighting testimonial text */
p {
    font-size: 1rem;
    font-style: italic;
}

  /* Forcing testimonials to align on the right, with fixed width */
.testimonial-container {
    max-width: 50%;
}

/* Responsividade para telas menores (celulares/tablets) */
@media (max-width: 576px) {
    .testimonial-box {
      display: none;
    }
    .testimonial-box-sm {
      display: block;
    }
}
@media (max-width: 991px) {
    .testimonial-container {
      margin: 0 auto;
      max-width: 90%;
    }

    /* Empilhar depoimentos e título no mobile */
    .section-colored {
      padding: 0;
      flex-direction: column;
    }

    /* Ajustar o posicionamento da imagem no mobile */
    .testimonial-image img {
      position: static;
      /* margin-bottom: 20px; */
      box-shadow: none;
    }

    .testimonial-content {
      margin-right: 0;
    }

    .testimonial-heading h2 {
      font-size: 2.0rem;
      text-align: center;
    }
}

/* FAQ SECTION -------------------------- */

/* Background and container for FAQ section */
.section-faq {
    background-color: #0F0F0F;
    padding: 50px 5px;
    border-radius: 10px;
}

/* Accordion item style */
.accordion-button {
    background-color: #1c1c1c;
    color: #fff;
    font-size: 1.2rem;
    font-weight: bold;
}

.accordion-button:not(.collapsed) {
    background-color: #1DB954;
    color: #fff;
}

.accordion-item {
    background-color: #1c1c1c;
    border: none;
    margin-bottom: 10px;
    color: #fff;
}

.accordion-body {
    background-color: #fff;
    color: #000;
}

h2 {
    color: #1DB954;
}

/* Change accordion icon color */
.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='black'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/* FOOTER ------------------------  */

.footer {
    background-color: #000;
    padding: 20px;
    text-align: center;
    color: #fff;
    margin-top: 50px;
}

/* MOBILE SPECIFIC STYLES ---------------- */

/* fontes mobile */
@media only screen and (max-width: 576px) {
    .main-title{
        font-size: 1.2rem;
    }
    .btn {
        font-size: 1rem;
    }
    .testimonial-heaading h2{
        font-size: 1.5rem;
    }
    .final-button{
        width: 100%;
    }
    body, html {
        background-size: 800px 820px;
    }
    /* radius remove on small screens */
    .text-overlay, .description-section, .section, .section-faq, .section-colored, .btn-container {
        border-radius: 0;
    }
}